fastapi
uvicorn[standard]
pydantic
python-multipart

numpy
pandas
scikit-learn==1.6.1
joblib

Pillow
opencv-python
torch
torchvision
torchaudio
xgboost

mediapipe

# Additional for plant identification
timm
albumentations
