/* frontend/src/styles/globals.css */

@import "tailwindcss";

/* Global layout & reset */
html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
    background-color: #f8fafc;
    /* light background */
    color: #020617;
    /* dark text */
}